In [1]:
import numpy   as np
import pandas  as pd
import seaborn as sns

import df_visualizations as dv
import remap_values as rv

import zillow_functions as zf

import matplotlib.pyplot as plt

import pickle

from sklearn.decomposition import PCA
from sklearn               import linear_model

In [2]:
%matplotlib inline
plt.style.use( 'dark_background' )
plt.rcParams['figure.figsize'] = (14,10)

In [3]:
prop  = pd.read_csv( 'data/properties_2016.csv' )
trans = pd.read_csv( 'data/train_2016_v2.csv'   )

my_df = pd.merge( prop, trans, on='parcelid', how='inner' )

del prop
del trans

/home/sean/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (22,32,34,49,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
my_df = zf.build_data( my_df )
my_df = zf.scale_data( my_df )

In [5]:
my_df.head()

,parcelid,logerror,day_of_week,has_ac,has_spa,has_pool,unit_single,unit_double,unit_multi,tax_delinquent,...,has_deck,age_scaled,log_pool_sqft_scaled,log_unit_sqft_scaled,log_lot_sqft_scaled,log_garage_sqft_scaled,log_n_bath_scaled,n_rooms_scaled,tax_pca_0,tax_pca_1
0,17073783,0.0953,0,0,0,0,1,0,0,0,...,0,-0.737123,-24.553923,-0.524475,-1.932307,-31.842940,-0.327270,-0.800000,1.294381,-0.483059
1,17088994,0.0198,0,0,0,0,1,0,0,0,...,0,-0.907777,-24.553923,-1.740257,-0.197046,-31.842940,-1.074487,-1.333333,0.729424,-0.529121
2,17100444,0.0060,2,0,0,0,1,0,0,0,...,0,0.542778,-24.553923,-0.869548,-0.308905,-0.476054,-0.533097,-0.800000,4.622292,-0.446284
3,17102429,-0.0566,6,0,0,0,1,0,0,0,...,0,0.158808,-24.553923,-0.008085,-0.163631,-0.259323,-0.776539,-0.800000,4.053930,-0.612812
4,17109604,0.0573,5,0,0,0,1,0,0,0,...,0,-0.651796,-24.553923,1.094538,-0.354874,1.635116,-0.327270,0.800000,-1.298297,-0.411419